<?xml version="1.0" encoding="utf-8"?>
<plugin
        xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="phonegap-nfc-custom"
        version="0.6.6">

    <name>NFC Custom</name>

    <description>Near Field Communication (NFC) Plugin. Read and write NDEF messages to NFC tags and share NDEF messages with peers.</description>

    <platform name="android">
        <js-module src="www/phonegap-nfc-custom.js" name="NFC">
            <runs />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NfcPlugin">
                <param name="android-package" value="com.chariotsolutions.nfc.plugin.NfcPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/NfcPlugin.java"
                     target-dir="src/com/chariotsolutions/nfc/plugin"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>

    </platform>
</plugin>
